footer {
  grid-area: footer;
  background-color: #000;
  color: #ffff;
  display: grid;
  grid-template-columns: 1fr 300px;
  position: relative;
  padding: 18px 20px 18px 20px;
}

footer > * {
  color: var(--color-white);
  text-decoration: none;
}

footer .text-up {
  align-items: flex-start;
}
.footer-trainee-name {
  text-align: right;
}

footer .text-down {
  align-items: flex-end;
}

footer a {
  text-align: right;
  width: 100%;
  display: block;
  color: #ffff;
  text-decoration: none;
}
