.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cog-icon {
  height: 26px;
  width: 26px;

  align-items: center;
}

.circle {
  height: 49px;
  width: 49px;
  background-color: #c8cbd1;
  margin: 20px;
  border-color: #c8cbd1;
  border-radius: 50%;
  text-align: right;
}

.trainee {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.position {
  color: gray;
}

.arrow-icon {
  height: 70px;
  width: 70px;
  text-align: center;
  display: flex;
}
