.my-data {
  line-height: 0, 5rem;
}

.my-data-circle {
  height: 150px;
  width: 150px;
  background-color: #c8cbd1;
  border-color: #c8cbd1;
  border-radius: 50%;
  display: flex;
  align-items: left;
  margin-bottom: 40px;
}

.my-data-name {
  font-size: 30px;
  font-weight: 700;

  text-align: left;
}

.my-data-details {
  font-size: 20px;
  font-weight: 400;

  text-align: left;
  color: #999999;
}

.my-data-email {
  padding-top: 20px;
  padding-bottom: 20px;
}
